:root {
    --text-color: rgb(0, 0, 0);
    --bg-color: rgb(80, 168, 255);
    --accent-color: rgb(0, 0, 0);
    --title-font: "Noticia Text", serif;
    --title-color: rgb(255, 255, 255);
    --subtitle-color: rgb(255, 0, 0);
    --text-font: "Google Sans", sans-serif;
}

html {
    font-size: 100%;
}

header {
    text-align: center;
}

head {
    display: block;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--text-font);
    font-size: 1rem;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    
    font-family: var(--title-font);
    font-variation-settings: "wdth" 400, "wght" 400;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}