:root {
    --nav-color: rgb(255, 230, 0);
    --text-color: rgb(0, 0, 0);
    --bg-color: rgb(80, 168, 255);
    --accent-color: rgb(255, 0, 0);
    --title-font: "Noticia Text", serif;
    --title-color: rgb(255, 255, 255);
    --subtitle-color: rgb(255, 0, 0);
    --text-font: "Google Sans", sans-serif;
    --nav-font: "Big Shoulders Inline", sams-serif;
}

html {
    font-size: 100%;
}

header {
    text-align: center; 
    font-family: var(--title-font);
    }
}

head {
    display: block;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--text-font);
    font-size: 1rem;
}

nav {
    display: block;
    text-align: center;
    color: var(--nav-color);
    font-family: var(--nav-font);
    font-weight: 900;
    a:hover {
        color: var(--accent-color);
    }
}
a {
    color: inherit;
}

header a {
    font-size: 6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    
    font-family: var(--title-font);
    font-variation-settings: "wdth" 400, "wght" 400;
}

nav {
    font-size: 10em;}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: var(--title-color);
}